:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff);
    --np-footer-bg: #f6f6f7;
}

.dark {
    --np-footer-bg: #1b1b1f;
}

.VPFooter{
    position: relative;
    z-index: var(--vp-z-index-footer);
    border-top: 1px solid var(--vp-c-gutter);
    padding: 32px 24px;
    background-color: var(--np-footer-bg)!important;
}
.VPImage{
    position: absolute;
    top: 50%;
    left: 70%!important;
    max-width: 192px;
    max-height: 192px;
    transform: translate(-50%, -50%);
}