# macOS
.DS_Store
# Windows
Thumbs.db
Desktop.ini

# Visual Studio Code
.vscode/

#Goland
.idea/

#NectarPin Docs
docs/.vitepress/dist
docs/.vitepress/cache
node_modules/

#NectarPin
#config.yaml
logs


